<div class="row layer">
	
	<p><%= layerName %></p>

	<div class="control-bar">
	  <div class="control-button destroy" data-id="<%= layerName %>"><i class="fa fa-trash-o fa-lg"></i></div>	
	  <div class="control-button opacity"><i class="fa fa-toggle-off fa-lg"></i></div>	
	  <div class="control-button pause"><i class="fa fa-pause fa-lg"></i></div>
  </div>


			
	<div class="odometer layer-item">
		<ul class="digits">
		  <li class="digit">
		    <span class="cou-item cou-item-anim" data-id="<%= zIndex %>">
		      <ul>
		        <li>9</li>
		        <li>0</li>
		        <li>1</li>
		        <li>2</li>
		        <li>3</li>
		        <li>4</li>
		        <li>5</li>
		        <li>6</li>
		        <li>7</li>
		        <li>8</li>
		        <li>9</li>
		        <li>0</li>
		      </ul>
		    </span>
		  </li>
		  <li class="digit">
		    <span class="cou-item" data-id="<%= zIndex %>">
		      <ul>
		        <li>9</li>
		        <li>0</li>
		        <li>1</li>
		        <li>2</li>
		        <li>3</li>
		        <li>4</li>
		        <li>5</li>
		        <li>6</li>
		        <li>7</li>
		        <li>8</li>
		        <li>9</li>
		        <li>0</li>
		      </ul>
		    </span>
		  </li>
		  <li class="digit">
		    <span class="cou-item" data-id="<%= zIndex %>">
		      <ul>
		        <li>9</li>
		        <li>0</li>
		        <li>1</li>
		        <li>2</li>
		        <li>3</li>
		        <li>4</li>
		        <li>5</li>
		        <li>6</li>
		        <li>7</li>
		        <li>8</li>
		        <li>9</li>
		        <li>0</li>
		      </ul>
		    </span>
		  </li>
		  <li class="digit">
		    <span class="cou-item" data-id="<%= zIndex %>">
		      <ul>
		        <li>9</li>
		        <li>0</li>
		        <li>1</li>
		        <li>2</li>
		        <li>3</li>
		        <li>4</li>
		        <li>5</li>
		        <li>6</li>
		        <li>7</li>
		        <li>8</li>
		        <li>9</li>
		        <li>0</li>
		      </ul>
		    </span>
		  </li>
		  <li class="digit">    
		    <span class="cou-item" data-id="<%= zIndex %>">
		      <ul>
		        <li>9</li>
		        <li>0</li>
		        <li>1</li>
		        <li>2</li>
		        <li>3</li>
		        <li>4</li>
		        <li>5</li>
		        <li>6</li>
		        <li>7</li>
		        <li>8</li>
		        <li>9</li>
		        <li>0</li>
		      </ul>
		    </span></li>
		  <li class="digit"><i class="fa fa-twitter"></i></li>
		</ul>
	</div>
	

</div>


